.plusIcon {
  width: 22px;
  height: 22px;
  border-radius: 50%;

  color: var(--white);
  background-color: transparent;

  transform: scale(1);
  transition: color var(--transition-delay) var(--transition),
    background-color var(--transition-delay) var(--transition),
    transform var(--transition-delay) var(--transition);
}

button.btn {
  display: flex;
  gap: 10px;
  background-color: var(--basic-dark-blue);
  align-items: center;
  padding: 18px 30px;
  color: var(--white);

  margin-left: auto;
  /* margin-top: 26px; */

  border-radius: 33px;

  transform: scale(1);
  transition: transform var(--transition-delay) var(--transition),
    color var(--transition-delay) var(--transition);
}

button.btn:hover,
button.btn:focus {
  background-color: var(--basic-dark-blue);
  color: var(--green);
}

button.btn:hover .plusIcon,
button.btn:focus .plusIcon {
  color: var(--green);
}

.btnSpan {
  font-weight: 700;
  line-height: 150%;
}
