.popover_btn {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  gap: 8px;
}
.popover_list {
  border-radius: 15px;
  width: 137px;
  height: 72px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 14px 20px;
  gap: 8px;
  margin-top: 4px;
  z-index: 999;
}
