.logoutModal {
  max-width: 344px;
  height: 267px;
  border-radius: 15px;
  display: flex;
}

.logoutModalwrapper {
  max-width: 344px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
}

.title {
  color: rgb(50, 63, 71);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  justify-content: center;
}

.text {
  /* Do you really want to leave? */

  width: 436px;
  height: 24px;

  color: rgb(50, 63, 71);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0, 05em;
  text-align: center;
}

.btnWrap {
  width: 100%;
  display: flex;
  gap: 9px;
  flex-direction: column;
}

.logoutModal_logoutBtn {
  width: 100%;
  height: 43px;
  background-color: #9be1a0;
  border: none;
  border-radius: 30px;
  color: rgb(65, 71, 50);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  cursor: pointer;
  letter-spacing: -0.07em;
}

.logoutModal_cancelBtn {
  width: 100%;
  height: 43px;
  background-color: rgb(240, 239, 244);
  border: none;
  border-radius: 30px;
  color: rgba(50, 63, 71, 0.3);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  cursor: pointer;
  /* padding: 18px 57px; */
}

.logoutModal_logoutBtn:hover,
.logoutModal_cancelBtn:hover {
  background-color: #87d28d;
}

@media (min-width: 768px) {
  .logoutModal {
    width: 516px;
    height: 244px;
  }

  .logoutModalwrapper {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 28px;
  }

  .btnWrap {
    flex-direction: row;
    justify-content: center;
  }

  .logoutModal_logoutBtn {
    width: 173px;
    height: 60px;
    font-size: 16px;
    padding: 18px, 57px, 18px, 57px;
  }

  .logoutModal_cancelBtn {
    width: 173px;
    height: 60px;
    font-size: 16px;
    padding: 18px, 57px, 18px, 57px;
  }
}

@media (min-width: 1440px) {
  .logoutModal {
    width: 516px;
    height: 244px;
  }

  .logoutModalwrapper {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 28px;
  }

  .btnWrap {
    flex-direction: row;
    justify-content: center;
  }

  .logoutModal_logoutBtn {
    width: 173px;
    height: 60px;
    font-size: 16px;
    padding: 18px, 57px, 18px, 57px;
  }

  .logoutModal_cancelBtn {
    width: 173px;
    height: 60px;
    font-size: 16px;
    padding: 18px, 57px, 18px, 57px;
  }
}
