.homePageBtns {
  display: flex;
  gap: 10px;
}

.homePageLinks {
  /* font-family: var(--font-family); */
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border-radius: 30px;
  text-decoration: none;
}

.linkTracker {
  padding: 14px 19px;
  background-color: #9be1a0;
  width: 116px;
  height: 46px;
}

.linkSignIn {
  padding: 14px 28px;
  background-color: transparent;
  border: 1px solid #323f47;
}

.homePageWelcomeSection {
  width: 343px;
  padding: 24px 16px 67px 16px;
  border-radius: 30px;
  background-color: #f0eff4;

  @media (width>=768px) {
    width: 704px;
  }

  @media (width>=1440px) {
    width: 672px;
  }
}

.homePageWelcomeSectionContainer {
  margin-top: 74px;
}

.homePageWelcomeSectionText {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: #2f2f2f;
  text-align: left;
}

.homePageWelcomeSectionHeader {
  /* font-family: var(--font-family); */
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-top: 16px;
  margin-bottom: 46px;
}
