.homePageBtns {
  display: flex;
  gap: 10px;

  @media (width>=768px) {
    gap: 16px;
  }
}

.homePageLinks {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border-radius: 30px;
  text-decoration: none;

  @media (width>=768px) {
    font-size: 16px;
    line-height: 150%;
    height: 60px;
  }
}

.linkTracker {
  padding: 14px 19px;
  background-color: var(--basic-green);

  @media (width>=768px) {
    padding: 18px 40px;
  }
}

.linkTracker:hover {
  background-color: var(--green-hover);
}

.linkSignIn {
  padding: 14px 28px;
  background-color: transparent;
  border: 1px solid var(--basic-dark-blue);

  @media (width>=768px) {
    padding: 18px 40px;
  }
}

.linkSignIn:hover {
  border: 1px solid var(--green-hover);
  color: var(--green-hover);
}

.homePageWelcomeSection {
  padding: 24px 16px 81px 16px;
  border-radius: 30px;
  background-color: var(--background-grey);

  @media (width>=768px) {
    padding: 32px 93px 68px 32px;
  }

  @media (width>=1440px) {
    padding: 32px 61px 206px 32px;
  }

  &.disabled {
    padding-bottom: 67px;

    @media (width>=768px) {
      padding-bottom: 50px;
    }

    @media (width>=1440px) {
      padding-bottom: 188px;
    }
  }
}

.homePageWelcomeSectionContainer {
  margin-top: 74px;

  @media (width>=768px) {
    width: 579px;
    padding-left: 32px;
    margin-top: 50px;
  }

  @media (width>=1440px) {
    margin-top: 132px;
  }

  &.disabled .homePageWelcomeSectionHeader {
    margin-bottom: 32px;
  }
}

.homePageWelcomeSectionText {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: var(--text-grey);
  text-align: left;
  margin-top: 0;

  @media (768px<=width) {
    font-size: 16px;
    line-height: 150%;
  }
}

.homePageWelcomeSectionHeader {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--basic-dark-blue);
  margin-top: 16px;
  margin-bottom: 46px;

  @media (768px<=width) {
    font-size: 64px;
    line-height: 109%;
    margin-bottom: 50px;
  }

  @media (width>=1440px) {
    font-size: 80px;
    line-height: 95%;
  }
}

.disabledTracker {
  pointer-events: none;
  color: var(--disabled-grey);
  background-color: transparent;
}

.disabledSignIn {
  pointer-events: none;
  border: 1px solid var(--basic-dark-blue);
  opacity: 0.2;
}
