.waterDetailedInfoContainer {
  padding: 40px 20px;
  border-radius: 30px;
  background-color: var(--background-grey);
}

@media screen and (min-width: 375px) {
  .waterDetailedInfoContainer {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .waterDetailedInfoContainer {
    padding: 32px;
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .waterDetailedInfoContainer {
    width: calc((100% - 32px) / 2);
  }
}
