.wrapper {
  border-radius: 30px;
  background-color: var(--background-grey);
  /* min-width: 300px; */
  padding: 25px 15px;
}

@media screen and (min-width: 375px) {
  .wrapper {
    max-width: 343px;
    padding: 40px 20px;
    height: 770px
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 704px;
    padding: 35px 32px;
    height: 738px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 672px;
    padding: 32px;
    height: 736px;
  }
}
