.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;

  @media (768px<=width) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media (1440px<=width) {
    max-width: 1440px;
    height: 100vh;
  }
}
