.container {
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 100vh;

  @media (768px<=width) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media (1440px<=width) {
    max-width: 1440px;
  }
}
