.signInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f0eff4;
}

.signInForm {
  display: flex;
  gap: 32px;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formSection,
.imageSection {
  width: 672px;
  height: 736px;
  padding: 20px;
  box-sizing: border-box;
}

.formSection {
  padding: 169px 118px;
}

.imageSection {
  background-image: url('./Rectangle 19.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.form {
  width: 436px;
  height: 398px;
  padding: 169px 118px;
}

h1 {
  position: absolute;
  width: 152px;
  height: 24px;
  left: 240px;
  top: 240px;
  color: rgb(50, 63, 71);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  position: static;
  width: 436px;
  height: 38px;
  color: rgb(50, 63, 71);
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1%;
  text-align: left;
}

.inputContainer {
  position: relative;
  margin-top: 32px;
}

.inputContainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #323f47;
}

.inputContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  color: #323f47;
}

.inputContainer input:focus {
  border-color: #9be1a0;
  outline: none;
}

.inputContainer .togglePassword {
  position: absolute;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputContainer p {
  color: #ff0000;
  margin: 5px 0 0;
}

button {
  width: 100%;
  height: 60px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border-radius: 30px;
  background: rgb(155, 225, 160);
  margin-top: 32px;
}
.buttonSpan {
  color: rgb(50, 63, 71);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: center;
}

button:hover {
  background-color: #88d392;
}

p {
  color: rgb(47, 47, 47);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: center;
}

p a {
  color: #9be1a0;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
