.signInFormContainer {
  padding: 24px 16px;
  border-radius: 30px;

  background-color: var(--light-gray);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.title {
  /* margin-top: 172px; */
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 32px;

  color: var(--dark);
}

.errorMessage {
  color: var(--red-error);
}

input.input {
  margin-top: 8px;
}

input.inputPassword {
}

label.label {
  position: relative;
  margin-bottom: 16px;

  font-size: 14px;
  line-height: 1.29;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: var(--dark);
}

.togglePassword {
  position: absolute;
  bottom: 25%;
  right: 0;

  transform: translate(-75%);
}

button.button {
  margin-top: 32px;

  font-weight: 700;
  color: var(--dark);

  width: 100%;
}

.spanSignIn {
  display: flex;
  gap: 4px;
  justify-content: center;

  margin-top: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;

  color: var(--input-text-inactive-color);
}

.link {
  font-weight: 700;
  color: var(--dark);
}

@media (min-width: 768px) {
  .form {
    width: 436px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .signInFormContainer {
    flex-basis: calc((100% - 32px) / 2);
  }
  .form {
  }
}
