.addBtn {
  background-color: var(--green);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn {
  display: flex;
  gap: 10px;
  background-color: transparent;
  align-items: center;
}
