@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap rel="stylesheet"');

:root {
  --text-grey: #2f2f2f;
  --basic-dark-blue: #323f47;
  --basic-green: #9be1a0;
  --green-hover: #87d28d;
  --background-grey: #f0eff4;
  --white: #ffffff;
  --red-error: #ef5050;
  --transition-delay: 500ms;
  --default-delay: 250ms;
  --disabled-grey: #bcbcbc;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
