@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap rel="stylesheet"');
@import 'normalize.css';

:root {
  --text-grey: #2f2f2f;
  --basic-dark-blue: #323f47;
  --basic-green: #9be1a0;
  --green-hover: #87d28d;
  --background-grey: #f0eff4;
  --white: #ffffff;
  --red-error: #ef5050;

  --transition-delay: 500ms;
  --default-delay: 250ms;
  --disabled-grey: #bcbcbc;
  --text-grey-white: #2f2f2f99;

  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  --transition-delay: 250ms;
  --transition: cubic-bezier(0.14, 0.57, 0.97, 0.39);

  --white: #ffffff;
  --light-gray: #f0eff4;
  --green: #9be1a0;
  --hover-green: #87d28d;
  --light-dark: #323f47;
  --dark: #2f2f2f;
  --error-color: #ef5050;

  --input-border-inactive-color: rgba(47, 47, 47, 0.2);
  --input-border-activated-color: rgba(47, 47, 47, 0.6);
  --input-text-inactive-color: rgba(47, 47, 47, 0.6);

  --signin-btn-disabled-color: rgba(47, 47, 47, 0.2);

  --calendar-button-grey-backhround: rgba(50, 63, 71, 0.2);
}

html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid var(--input-border-inactive-color) !important; */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Цвет фона */
  box-shadow: 0 0 0px 1000px transparent inset !important; /* Цвет фона для других браузеров */
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: var(--dark) !important; /* Цвет текста */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
