.apSetting {
  font-weight: 700;
  padding: 0;
  text-align: left;
  color: rgb(50, 63, 71);
  font-size: 28px;
}

.apText {
  font-size: 60px;
}

.apContainer {
  position: relative;
  height: 85vh;
  overflow: auto;
}
