.trackerPageContainer {
  height: 100%;
  font-family: inherit;
}

@media screen and (min-width: 1440px) {
  .trackerPageContainer {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
}
