.container {
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 16px; */
}

@media screen and (max-width: 375px) {
  .container {
    /* display: flex; */
    /* justify-content: center; */
    width: 375px;
    padding: 0 16px;
    margin: 0 auto;
  }
}