.homePageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (1440px<=width) {
    gap: 32px;
    flex-wrap: nowrap;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
